@model List<Utente>
@{
     ViewData["Title"] = "Prenotato";
}

<h2>Grazie @Model[0].Nome</h2>
<p>per esserti registrato</p>
<p>Sono stati registrato @Model.Count() utenti ...</p>

<table class="table table-dark">
     <thead class="thead-dark">
          <th>Nome</th>
          <th>Cognome</th>
          <th>Tipo</th>
          <th>Email </th>
     </thead>
     @{
          foreach (var item in @Model)
          {

               <tr>
                    <td>@item.Nome</td>
                    <td>@item.Cognome</td>
                    <td>@item.Tipo</td>
                    <td>@item.Email</td>
               </tr>
          }
     }
</table>
